<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application>
        <meta-data
            android:name="com.google.ar.core.min_apk_version"
            android:value="241930000"
            tools:replace="android:value"/>
    </application>
</manifest>
